data/FaceMaskDetection_Processed/
data/FaceMaskDetection_Raw/
data/Videos_Processed/
data/Videos_Raw/
data/Images_Processed/
data/Images_Raw/

models/*

monodepth2/
multi-object-tracker/

__pycache__/
.ipynb_checkpoints/
