data/FaceMaskDetection_Processed/
data/FaceMaskDetection_Raw/
data/Videos_Processed/
data/Videos_Raw/

models/MaskRecognitionFasterRCNN.pt
models/MaskRecognitionFasterRSN18.pt
models/*

monodepth2/
multi-object-tracker/

__pycache__/
